.controller {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  touch-action: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  visibility: hidden;
  z-index: 106;
}

.controller a {
  display: flex;
  padding: var(--spacing);
  pointer-events: auto;
  touch-action: none;
}

.controller a:after {
  background: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 0 1.3em 0.1em rgba(var(--rgb-black), 0.8);
  content: "";
  height: var(--line-height);
  width: var(--line-height);
}

.controller.controller--loaded {
  opacity: 1;
}

.controller.controller--origin {
  bottom: 0;
  right: 0;
}

.controller.controller--transition {
  transition: bottom var(--transition), right var(--transition);
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .controller {
    visibility: visible;
  }
}
