.header {
  display: none;
  align-items: center;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 104;
  padding: 1.25rem 2.5rem;
  background: transparent;
  pointer-events: none;
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .header {
    display: flex;
  }
}

.header h1 {
  pointer-events: auto;
}

.header h1 a {
  display: block;
  height: 1.5rem;
}

.header h1 a img {
  height: 100%;
  max-height: 100%;
  width: auto;
}

.header ul {
  align-items: center;
  display: none;
  gap: 2.25rem;
  pointer-events: auto;
}

.header ul li {
  font-weight: 400;
  letter-spacing: 0.01em;
}

.header ul li a {
  text-decoration: none;
  transition: color var(--transition);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--color-grey);
}

.header ul li a:hover {
  color: var(--color-white);
  opacity: 1;
}

.header ul li.selected a {
  color: var(--color-white);
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .header ul {
    display: flex;
  }
}
