.page {
  display: flex;
  flex-direction: column;
  margin: 4em var(--spacing) calc(var(--line-height) + var(--spacing))
    var(--spacing);
  position: relative;
}

.page:after,
.page:before {
  content: "";
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 101;
}

.page:after {
  background: linear-gradient(
    180deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  height: 7.4em;
  top: 0;
}

.page:before {
  background: linear-gradient(
    0deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  bottom: 0;
  height: calc(3.7em + var(--line-height));
}

.page .page__headline,
.page .page__anchors,
.page .page__body {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}

.page .page__headline {
  color: var(--color-white);
  gap: 0.6em;
  position: relative;
  z-index: 1;
}

.page .page__headline h1,
.page .page__headline h2 {
  font-size: var(--font-size-xxx-large);
  font-weight: 700;
  line-height: 1.2;
}

.page .page__headline h6 {
  font-weight: 700;
  line-height: 1.2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.page .page__headline small {
  font-size: var(--font-size-small);
  font-weight: 700;
}

.page .page__headline br {
  display: none;
}

.page .page__anchors {
  color: var(--color-white);
}

.page .page__anchors dl {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  font-weight: 700;
  gap: 0.4em;
  letter-spacing: normal;
  margin-top: var(--line-height);
}

.page .page__anchors dl dd {
  padding-left: 2ch;
  position: relative;
}

.page .page__anchors dl dd:before {
  content: "\2193";
  left: 0;
  position: absolute;
  width: 2ch;
}

.page .page__content {
  margin-bottom: 3.7em;
  margin-top: 3.7em;
  font-size: var(--font-size-small);
}

.page .page__back {
  --flow-space: calc(var(--line-height) * 2);
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .page {
    margin-top: 5.4em;
  }

  .page:after {
    height: 5.4em;
  }

  .page:before {
    height: calc(3.7em + var(--spacing));
  }

  .page .page__headline,
  .page .page__anchors,
  .page .page__body,
  .page .page__content {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
  }

  .page .page__headline br {
    display: inline;
  }

  .page .page__body {
    max-width: 39ch;
  }

  .page .page__content {
    max-width: 85ch;
    margin-bottom: calc(3.7em + var(--line-height) + 2em);
  }
}
