.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 6rem var(--spacing) 5rem;
  max-width: var(--page-width);
  position: relative;
}

.page:after,
.page:before {
  display: none;
}

.page .page__headline,
.page .page__anchors,
.page .page__body {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
}

.page .page__headline {
  color: var(--color-white);
  gap: 0.5rem;
  position: relative;
  z-index: 1;
}

.page .page__headline h1,
.page .page__headline h2 {
  font-size: var(--font-size-xxx-large);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.page .page__headline h4 {
  font-size: var(--font-size-x-small);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-cyan);
}

.page .page__headline h6 {
  font-weight: 600;
  line-height: 1.2;
  font-family: var(--font-family);
  font-size: var(--font-size-xx-large);
}

.page .page__headline small {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-grey);
}

.page .page__headline br {
  display: none;
}

.page .page__anchors {
  color: var(--color-white);
}

.page .page__anchors dl {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  font-weight: 600;
  gap: 0.4em;
  letter-spacing: normal;
  margin-top: 1.5rem;
}

.page .page__anchors dl dd {
  padding-left: 2ch;
  position: relative;
}

.page .page__anchors dl dd:before {
  content: "\2193";
  left: 0;
  position: absolute;
  width: 2ch;
}

.page .page__content {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: var(--font-size);
}

.page .page__back {
  --flow-space: 3rem;
}

@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .page {
    padding-top: 7rem;
  }

  .page .page__headline br {
    display: inline;
  }

  .page .page__body {
    max-width: var(--content-width);
  }

  .page .page__content {
    max-width: var(--content-width);
  }
}
