body {
  background: none;
  color: var(--color-black);
  font-size: 1em;
  letter-spacing: normal;
}

a {
  color: var(--color-black);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.header {
  background: none;
  display: flex;
  justify-content: flex-end;
  padding: 4em 4em 3em 4em;
  position: relative;
}

.header a {
  height: 1.3em;
  margin: 0;
}

.cluster {
  margin: 0 4em;
  opacity: 1;
}

.cluster.cluster--index:hover header a:not(:hover),
.cluster.cluster--index:focus-within header a:not(:focus) {
  opacity: 1;
}

.signal .cluster__content {
  letter-spacing: normal;
  margin-left: 0;
  max-width: 52ch;
}

.signal.cluster--dim {
  display: none;
}

.thought {
  margin: 0 4em;
}

.thought:after,
.thought:before {
  display: none;
}

.thought .cluster__header,
.thought .cluster__body {
  margin-left: 0;
  margin-right: 0;
}

.thought .cluster__body {
  max-width: 52ch;
}

.thought .cluster__content {
  margin-bottom: 0;
  margin-top: 4em;
}

.thought .cluster__content * {
  margin-bottom: 1em;
}

.thought .cluster__content hr {
  height: 3em;
}

.boundary,
.footer,
.controller {
  display: none;
}
