.thought {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}

.thought .thought__content {
  margin-bottom: 3.7em;
  margin-top: 3.7em;
}

.thought .signup {
  margin-bottom: 3.7em;
}

@media(min-width: 64em) and (hover: hover) and (pointer: fine) {

  .thought {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
    max-width: 39ch;
  }

}
